@import '../../index.scss';

.home-card-badge {
    position: absolute;
    right: -10px;
    top: -10px;
}

.chart-row-info {
    display: grid;
    place-items: center;
    height: 400px;
    width: 100%;
}

@media(max-width: 767px) {
    .home-card {
        margin-top: 20px;

        .home-card-badge {
            top: 5px;
            right: 5px;
        }
    }
}