@import '../../index.scss';

.signup-container {
    display: flex;
    align-items: center;
}

@media(max-width: 1000px) {
    .img-signup {
        display: none;
    }

    .signup-form-field {
        width: 100%;
    }
}